services:
  user_service:
    build: ./user_service
    ports:
      - "8001:8001"
    restart: always
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

  profile_service:
    build: ./profile_service
    ports:
      - "8002:8002"
    restart: always
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

  qr_service:
    build: ./qr_service
    ports:
      - "8003:8003"
    restart: always

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: meetmii
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
